In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

# for graphs
import matplotlib.pyplot as plt

import requests

In [2]:

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

url = "https://stockanalysis.com/ipos/filings/"
response = requests.get(url, headers=headers)

ipo_dfs = pd.read_html(response.text)

/tmp/ipykernel_451502/806584604.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_dfs = pd.read_html(response.text)

## Question 1

In [3]:
ipo_df = ipo_dfs[0].copy()
ipo_df.head()

,Filing Date,Symbol,Company Name,Price Range,Shares Offered
0,"May 3, 2024",TBN,Tamboran Resources Corporation,-,-
1,"Apr 29, 2024",HWEC,"HW Electro Co., Ltd.",$3.00,3750000
2,"Apr 29, 2024",DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000
3,"Apr 26, 2024",EURK,Eureka Acquisition Corp,$10.00,5000000
4,"Apr 26, 2024",HDL,Super Hi International Holding Ltd.,-,-

In [4]:
ipo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Filing Date     326 non-null    object
 1   Symbol          326 non-null    object
 2   Company Name    326 non-null    object
 3   Price Range     326 non-null    object
 4   Shares Offered  326 non-null    object
dtypes: object(5)
memory usage: 12.9+ KB

In [5]:
# Convert the 'Filing Date' to datetime()
ipo_df["Filing Date"] = pd.to_datetime(ipo_df["Filing Date"],format="%b %d, %Y", errors='coerce')

# Define Avg_price
ipo_df["price_ranges_mean"] =  ipo_df["Price Range"].apply(lambda x : x.replace("$","").split("-"))
ipo_df["price_ranges_mean"] = ipo_df["price_ranges_mean"].apply(lambda x : [float(price) for price in x if price != "" ]).apply(lambda x : np.mean(x))

# Convert Shares Offered to int 
ipo_df["Shares Offered"] = pd.to_numeric(ipo_df["Shares Offered"], errors='coerce')
# Add Shares_offered_value
ipo_df["shares_offered_value"] = ipo_df["Shares Offered"] * ipo_df["price_ranges_mean"] 

# format column names 
ipo_df.columns = [col.lower().replace(" ","_") for col in ipo_df.columns]

ipo_df

/home/zbook/anaconda3/envs/myenv/lib/python3.11/site-packages/numpy/core/fromnumeric.py:3464: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/zbook/anaconda3/envs/myenv/lib/python3.11/site-packages/numpy/core/_methods.py:192: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

,filing_date,symbol,company_name,price_range,shares_offered,price_ranges_mean,shares_offered_value
0,2024-05-03,TBN,Tamboran Resources Corporation,-,NaN,NaN,NaN
1,2024-04-29,HWEC,"HW Electro Co., Ltd.",$3.00,3750000.0,3.00,11250000.0
2,2024-04-29,DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000.0,10.00,60000000.0
3,2024-04-26,EURK,Eureka Acquisition Corp,$10.00,5000000.0,10.00,50000000.0
4,2024-04-26,HDL,Super Hi International Holding Ltd.,-,NaN,NaN,NaN
...,...,...,...,...,...,...,...
321,2020-01-21,GOXS,"Goxus, Inc.",$8.00 - $10.00,1500000.0,9.00,13500000.0
322,2020-01-21,UTXO,"UTXO Acquisition, Inc.",$10.00,5000000.0,10.00,50000000.0
323,2019-12-09,LOHA,Loha Co. Ltd,$8.00 - $10.00,2500000.0,9.00,22500000.0
324,2019-10-04,ZGHB,China Eco-Materials Group Co. Limited,$4.00,4300000.0,4.00,17200000.0
325,2018-12-27,FBOX,Fit Boxx Holdings Limited,$5.00 - $6.50,2000000.0,5.75,11500000.0

In [6]:
ipo_df_2023 = ipo_df[(ipo_df["filing_date"] >= '2023-01-01') & (ipo_df["filing_date"] <= '2023-12-31')].copy()

In [7]:
ipo_df_2023[ipo_df_2023["filing_date"].dt.day_of_week == 4]["shares_offered_value"].sum()/1000000

285.7

## Question 2

In [8]:

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

url = "https://stockanalysis.com/ipos/2023/"
response = requests.get(url, headers=headers)

ipo_23_dfs = pd.read_html(response.text)


url = "https://stockanalysis.com/ipos/2024/"
response = requests.get(url, headers=headers)

ipo_24_dfs = pd.read_html(response.text)

/tmp/ipykernel_451502/516968086.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_23_dfs = pd.read_html(response.text)
/tmp/ipykernel_451502/516968086.py:14: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_24_dfs = pd.read_html(response.text)

In [9]:
ipo_23_df = ipo_23_dfs[0].copy()
ipo_24_df = ipo_24_dfs[0].copy()

In [10]:
df = pd.concat([ipo_23_df, ipo_24_df], ignore_index=True)
# format column names 
df.columns = [col.lower().replace(" ","_") for col in df.columns]
# Convert the 'Filing Date' to datetime()
df["ipo_date"] = pd.to_datetime(df["ipo_date"],format="%b %d, %Y", errors='coerce')
#convert price, current, return to float
df['ipo_price'] = pd.to_numeric(df['ipo_price'].str.replace('$', ''), errors='coerce')
df['current'] = pd.to_numeric(df['current'].str.replace('$', ''), errors='coerce')
df['return'] = pd.to_numeric(df['return'].str.replace('%', ''), errors='coerce') / 100

# filter dates 
df = df[(df["ipo_date"] < '2024-03-01')]
#exclude RYZB
df = df.query("symbol != 'RYZB'")

df

,ipo_date,symbol,company_name,ipo_price,current,return
0,2023-12-27,IROH,Iron Horse Acquisitions Corp.,10.00,10.04,0.0040
1,2023-12-19,LGCB,Linkage Global Inc,4.00,2.91,-0.2750
2,2023-12-15,ZKH,ZKH Group Limited,15.50,12.22,-0.2116
3,2023-12-15,BAYA,Bayview Acquisition Corp,10.00,10.19,0.0180
4,2023-12-14,INHD,Inno Holdings Inc.,4.00,0.62,-0.8460
...,...,...,...,...,...,...
214,2024-01-18,PSBD,Palmer Square Capital BDC Inc.,16.45,16.57,0.0073
215,2024-01-18,CCTG,CCSC Technology International Holdings Limited,6.00,2.61,-0.5650
216,2024-01-12,SYNX,Silynxcom Ltd.,4.00,2.90,-0.2763
217,2024-01-11,SDHC,Smith Douglas Homes Corp.,21.00,29.00,0.3810
218,2024-01-09,ROMA,Roma Green Finance Limited,4.00,0.75,-0.8120

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184 entries, 0 to 218
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ipo_date      184 non-null    datetime64[ns]
 1   symbol        184 non-null    object
 2   company_name  184 non-null    object
 3   ipo_price     184 non-null    float64
 4   current       184 non-null    float64
 5   return        183 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 10.1+ KB

In [12]:
tickers_list = df.symbol.unique()

In [13]:
import time

stocks_df = pd.DataFrame({'A' : []})

for i,ticker in enumerate(tickers_list):
  try:
    print(i,ticker)

    # Work with stock prices
    historyPrices = yf.download(tickers = ticker,
                      period = "max",
                      interval = "1d")

    # generate features for historical prices, and what we want to predict
    historyPrices['Ticker'] = ticker
    historyPrices['Year']= historyPrices.index.year
    historyPrices['Month'] = historyPrices.index.month
    historyPrices['Weekday'] = historyPrices.index.weekday
    historyPrices['Date'] = historyPrices.index.date

    # historical returns
    for i in range(1, 31):
      historyPrices['growth_'+str(i)+'d'] = historyPrices['Adj Close'] / historyPrices['Adj Close'].shift(i)
    historyPrices['growth_future_5d'] = historyPrices['Adj Close'].shift(-5) / historyPrices['Adj Close']

    # Technical indicators
    # SimpleMovingAverage 10 days and 20 days
    historyPrices['SMA10']= historyPrices['Close'].rolling(10).mean()
    historyPrices['SMA20']= historyPrices['Close'].rolling(20).mean()
    historyPrices['growing_moving_average'] = np.where(historyPrices['SMA10'] > historyPrices['SMA20'], 1, 0)
    historyPrices['high_minus_low_relative'] = (historyPrices.High - historyPrices.Low) / historyPrices['Adj Close']

    # 30d rolling volatility : https://ycharts.com/glossary/terms/rolling_vol_30
    historyPrices['volatility'] =   historyPrices['Adj Close'].rolling(30).std() * np.sqrt(252)

    # what we want to predict
    historyPrices['is_positive_growth_5d_future'] = np.where(historyPrices['growth_future_5d'] > 1, 1, 0)

    # sleep 1 sec between downloads - not to overload the API server
    time.sleep(1)


    if stocks_df.empty:
      stocks_df = historyPrices
    else:
      stocks_df = pd.concat([stocks_df, historyPrices], ignore_index=True)
  except:
    print(f"{ticker}, failed") 
    continue

0 IROH

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 LGCB

[*********************100%%**********************]  1 of 1 completed

2 ZKH

[*********************100%%**********************]  1 of 1 completed

3 BAYA

[*********************100%%**********************]  1 of 1 completed

4 INHD

[*********************100%%**********************]  1 of 1 completed

5 AFJK

[*********************100%%**********************]  1 of 1 completed

6 GSIW

[*********************100%%**********************]  1 of 1 completed

7 FEBO

[*********************100%%**********************]  1 of 1 completed

8 CLBR

[*********************100%%**********************]  1 of 1 completed

9 ELAB

[*********************100%%**********************]  1 of 1 completed

10 RR

[*********************100%%**********************]  1 of 1 completed

11 DDC

[*********************100%%**********************]  1 of 1 completed

12 SHIM

[*********************100%%**********************]  1 of 1 completed

13 GLAC

[*********************100%%**********************]  1 of 1 completed

14 SGN

[*********************100%%**********************]  1 of 1 completed

15 HG

[*********************100%%**********************]  1 of 1 completed

16 CRGX

[*********************100%%**********************]  1 of 1 completed

17 ANSC

[*********************100%%**********************]  1 of 1 completed

18 AITR

[*********************100%%**********************]  1 of 1 completed

19 GVH

[*********************100%%**********************]  1 of 1 completed

20 LXEO

[*********************100%%**********************]  1 of 1 completed

21 PAPL

[*********************100%%**********************]  1 of 1 completed

22 ATGL

[*********************100%%**********************]  1 of 1 completed

23 MNR

[*********************100%%**********************]  1 of 1 completed

24 WBUY

[*********************100%%**********************]  1 of 1 completed

25 NCL

[*********************100%%**********************]  1 of 1 completed

26 BIRK

[*********************100%%**********************]  1 of 1 completed

27 GMM

[*********************100%%**********************]  1 of 1 completed

28 PMEC

[*********************100%%**********************]  1 of 1 completed

29 LRHC

[*********************100%%**********************]  1 of 1 completed

30 GPAK

[*********************100%%**********************]  1 of 1 completed

31 SPKL

[*********************100%%**********************]  1 of 1 completed

32 QETA

[*********************100%%**********************]  1 of 1 completed

33 MSS

[*********************100%%**********************]  1 of 1 completed

34 ANL

[*********************100%%**********************]  1 of 1 completed

35 SYRA

[*********************100%%**********************]  1 of 1 completed

36 VSME

[*********************100%%**********************]  1 of 1 completed

37 LRE

[*********************100%%**********************]  1 of 1 completed

38 TURB

[*********************100%%**********************]  1 of 1 completed

39 MDBH

[*********************100%%**********************]  1 of 1 completed

40 KVYO

[*********************100%%**********************]  1 of 1 completed

41 CART

[*********************100%%**********************]  1 of 1 completed

42 DTCK

[*********************100%%**********************]  1 of 1 completed

43 NMRA

[*********************100%%**********************]  1 of 1 completed

44 ARM

[*********************100%%**********************]  1 of 1 completed

45 SPPL

[*********************100%%**********************]  1 of 1 completed

46 NWGL

[*********************100%%**********************]  1 of 1 completed

47 SWIN

[*********************100%%**********************]  1 of 1 completed

48 IVP

[*********************100%%**********************]  1 of 1 completed

49 NNAG

[*********************100%%**********************]  1 of 1 completed

50 SRM

[*********************100%%**********************]  1 of 1 completed

51 SPGC

[*********************100%%**********************]  1 of 1 completed

52 LQR

[*********************100%%**********************]  1 of 1 completed

53 NRXS

[*********************100%%**********************]  1 of 1 completed

54 FTEL

[*********************100%%**********************]  1 of 1 completed

55 MIRA

[*********************100%%**********************]  1 of 1 completed

56 PXDT

[*********************100%%**********************]  1 of 1 completed

57 HRYU

[*********************100%%**********************]  1 of 1 completed

58 CTNT

[*********************100%%**********************]  1 of 1 completed

59 SRFM

[*********************100%%**********************]  1 of 1 completed

60 PRZO

[*********************100%%**********************]  1 of 1 completed

61 HYAC

[*********************100%%**********************]  1 of 1 completed

62 KVAC

[*********************100%%**********************]  1 of 1 completed

63 JNVR

[*********************100%%**********************]  1 of 1 completed

64 ELWS

65 WRNT

[*********************100%%**********************]  1 of 1 completed

66 TSBX

[*********************100%%**********************]  1 of 1 completed

67 ODD

[*********************100%%**********************]  1 of 1 completed

68 APGE

[*********************100%%**********************]  1 of 1 completed

69 NETD

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

70 SGMT

[*********************100%%**********************]  1 of 1 completed

71 BOWN

[*********************100%%**********************]  1 of 1 completed

72 SXTP

[*********************100%%**********************]  1 of 1 completed

73 PWM

[*********************100%%**********************]  1 of 1 completed

74 VTMX

[*********************100%%**********************]  1 of 1 completed

75 INTS

[*********************100%%**********************]  1 of 1 completed

76 SVV

[*********************100%%**********************]  1 of 1 completed

77 KGS

[*********************100%%**********************]  1 of 1 completed

78 FIHL

[*********************100%%**********************]  1 of 1 completed

79 GENK

[*********************100%%**********************]  1 of 1 completed

80 BUJA

[*********************100%%**********************]  1 of 1 completed

81 BOF

[*********************100%%**********************]  1 of 1 completed

82 AZTR

[*********************100%%**********************]  1 of 1 completed

83 CAVA

[*********************100%%**********************]  1 of 1 completed

84 ESHA

[*********************100%%**********************]  1 of 1 completed

85 ATMU

86 ATS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

87 IPXX

[*********************100%%**********************]  1 of 1 completed

88 CWD

[*********************100%%**********************]  1 of 1 completed

89 SGE

[*********************100%%**********************]  1 of 1 completed

90 SLRN

[*********************100%%**********************]  1 of 1 completed

91 ALCY

[*********************100%%**********************]  1 of 1 completed

92 KVUE

[*********************100%%**********************]  1 of 1 completed

93 GODN

[*********************100%%**********************]  1 of 1 completed

94 TRNR

[*********************100%%**********************]  1 of 1 completed

95 AACT

[*********************100%%**********************]  1 of 1 completed

96 JYD

[*********************100%%**********************]  1 of 1 completed

97 USGO

98 UCAR

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

99 WLGS

[*********************100%%**********************]  1 of 1 completed

100 TPET

[*********************100%%**********************]  1 of 1 completed

101 TCJH

[*********************100%%**********************]  1 of 1 completed

102 GDTC

[*********************100%%**********************]  1 of 1 completed

103 VCIG

[*********************100%%**********************]  1 of 1 completed

104 GDHG

[*********************100%%**********************]  1 of 1 completed

105 ARBB

[*********************100%%**********************]  1 of 1 completed

106 ISPR

[*********************100%%**********************]  1 of 1 completed

107 MGIH

[*********************100%%**********************]  1 of 1 completed

108 MWG

[*********************100%%**********************]  1 of 1 completed

109 HSHP

[*********************100%%**********************]  1 of 1 completed

110 SFWL

[*********************100%%**********************]  1 of 1 completed

111 SYT

[*********************100%%**********************]  1 of 1 completed

112 HKIT

[*********************100%%**********************]  1 of 1 completed

113 CHSN

[*********************100%%**********************]  1 of 1 completed

114 TBMC

[*********************100%%**********************]  1 of 1 completed

115 HLP

[*********************100%%**********************]  1 of 1 completed

116 ZJYL

[*********************100%%**********************]  1 of 1 completed

117 TMTC

118 YGFGF

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

119 OAKU

[*********************100%%**********************]  1 of 1 completed

120 BANL

[*********************100%%**********************]  1 of 1 completed

121 OMH

122 MGRX

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

123 FORL

[*********************100%%**********************]  1 of 1 completed

124 ICG

[*********************100%%**********************]  1 of 1 completed

125 IZM

[*********************100%%**********************]  1 of 1 completed

126 AESI

[*********************100%%**********************]  1 of 1 completed

127 AIXI

[*********************100%%**********************]  1 of 1 completed

128 SBXC

[*********************100%%**********************]  1 of 1 completed

129 BMR

[*********************100%%**********************]  1 of 1 completed

130 DIST

[*********************100%%**********************]  1 of 1 completed

131 GXAI

[*********************100%%**********************]  1 of 1 completed

132 MARX

[*********************100%%**********************]  1 of 1 completed

133 BFRG

[*********************100%%**********************]  1 of 1 completed

134 ENLT

[*********************100%%**********************]  1 of 1 completed

135 MLYS

136 PTHR

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['PTHR']: Exception('%ticker%: No timezone found, symbol may be delisted')
[*********************100%%**********************]  1 of 1 completed

PTHR, failed
137 BLAC

[*********************100%%**********************]  1 of 1 completed

138 NXT

[*********************100%%**********************]  1 of 1 completed

139 HSAI

[*********************100%%**********************]  1 of 1 completed

140 LSDI

[*********************100%%**********************]  1 of 1 completed

141 LICN

[*********************100%%**********************]  1 of 1 completed

142 GPCR

[*********************100%%**********************]  1 of 1 completed

143 ASST

[*********************100%%**********************]  1 of 1 completed

144 CETU

[*********************100%%**********************]  1 of 1 completed

145 TXO

[*********************100%%**********************]  1 of 1 completed

146 BREA

[*********************100%%**********************]  1 of 1 completed

147 GNLX

[*********************100%%**********************]  1 of 1 completed

148 QSG

[*********************100%%**********************]  1 of 1 completed

149 CVKD

[*********************100%%**********************]  1 of 1 completed

150 SKWD

[*********************100%%**********************]  1 of 1 completed

151 ISRL

[*********************100%%**********************]  1 of 1 completed

152 MGOL

[*********************100%%**********************]  1 of 1 completed

153 SMXT

[*********************100%%**********************]  1 of 1 completed

154 VHAI

[*********************100%%**********************]  1 of 1 completed

155 DYCQ

[*********************100%%**********************]  1 of 1 completed

156 CHRO

[*********************100%%**********************]  1 of 1 completed

157 UMAC

[*********************100%%**********************]  1 of 1 completed

158 TBBB

[*********************100%%**********************]  1 of 1 completed

159 MGX

[*********************100%%**********************]  1 of 1 completed

160 HLXB

161 TELO

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

162 KYTX

[*********************100%%**********************]  1 of 1 completed

163 PMNT

[*********************100%%**********************]  1 of 1 completed

164 AHR

[*********************100%%**********************]  1 of 1 completed

165 LEGT

[*********************100%%**********************]  1 of 1 completed

166 ANRO

[*********************100%%**********************]  1 of 1 completed

167 GUTS

[*********************100%%**********************]  1 of 1 completed

168 AS

[*********************100%%**********************]  1 of 1 completed

169 FBLG

[*********************100%%**********************]  1 of 1 completed

170 BTSG

[*********************100%%**********************]  1 of 1 completed

171 AVBP

[*********************100%%**********************]  1 of 1 completed

172 HAO

[*********************100%%**********************]  1 of 1 completed

173 CGON

[*********************100%%**********************]  1 of 1 completed

174 YIBO

[*********************100%%**********************]  1 of 1 completed

175 SUGP

[*********************100%%**********************]  1 of 1 completed

176 JL

[*********************100%%**********************]  1 of 1 completed

177 KSPI

[*********************100%%**********************]  1 of 1 completed

178 JVSA

[*********************100%%**********************]  1 of 1 completed

179 PSBD

[*********************100%%**********************]  1 of 1 completed

180 CCTG

[*********************100%%**********************]  1 of 1 completed

181 SYNX

[*********************100%%**********************]  1 of 1 completed

182 SDHC

[*********************100%%**********************]  1 of 1 completed

183 ROMA

In [14]:
len(stocks_df["Ticker"].unique())

183

In [15]:
stocks_df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Ticker', 'Year',
       'Month', 'Weekday', 'Date', 'growth_1d', 'growth_2d', 'growth_3d',
       'growth_4d', 'growth_5d', 'growth_6d', 'growth_7d', 'growth_8d',
       'growth_9d', 'growth_10d', 'growth_11d', 'growth_12d', 'growth_13d',
       'growth_14d', 'growth_15d', 'growth_16d', 'growth_17d', 'growth_18d',
       'growth_19d', 'growth_20d', 'growth_21d', 'growth_22d', 'growth_23d',
       'growth_24d', 'growth_25d', 'growth_26d', 'growth_27d', 'growth_28d',
       'growth_29d', 'growth_30d', 'growth_future_5d', 'SMA10', 'SMA20',
       'growing_moving_average', 'high_minus_low_relative', 'volatility',
       'is_positive_growth_5d_future'],
      dtype='object')

In [16]:
growth_cols = [col for col in stocks_df.columns if "growth" in col]
stocks_df[growth_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
growth_1d,37488.0,0.999639,0.095695,0.028674,0.977502,1.000000,1.014986,6.826923
growth_2d,37305.0,0.999497,0.135012,0.003584,0.966334,1.000000,1.020376,6.971311
growth_3d,37122.0,0.999460,0.165957,0.002729,0.957447,1.000000,1.025434,7.625593
growth_4d,36939.0,0.999358,0.190588,0.002729,0.949395,1.000000,1.028572,8.650538
growth_5d,36756.0,0.999353,0.214873,0.002729,0.941731,1.000000,1.032028,8.952632
growth_6d,36573.0,0.999450,0.239422,0.002729,0.934233,1.000000,1.034401,10.309092
growth_7d,36390.0,0.999254,0.257159,0.002729,0.927273,1.000000,1.036093,10.183544
growth_8d,36207.0,0.999170,0.275428,0.002729,0.920705,1.000000,1.039282,10.380646
growth_9d,36024.0,0.999104,0.294361,0.002729,0.913761,1.000000,1.040977,9.464706
growth_10d,35841.0,0.998983,0.311944,0.002729,0.907093,1.000000,1.042984,9.105319
growth_11d,35658.0,0.998797,0.326387,0.002729,0.900932,0.999748,1.043806,9.354651
growth_12d,35475.0,0.998427,0.338863,0.002729,0.895173,0.999052,1.045053,9.634731
growth_13d,35292.0,0.997755,0.348772,0.002729,0.889027,0.999035,1.046665,10.380646
growth_14d,35109.0,0.996997,0.357893,0.002729,0.882526,0.998789,1.047468,11.330986
growth_15d,34926.0,0.996366,0.367865,0.002729,0.875310,0.998309,1.048936,10.585527
growth_16d,34743.0,0.995793,0.378975,0.002729,0.869277,0.998011,1.050307,10.740988
growth_17d,34560.0,0.995264,0.389822,0.002729,0.862697,0.997573,1.051935,11.411348
growth_18d,34377.0,0.994816,0.399987,0.002729,0.856164,0.997159,1.052891,11.096551
growth_19d,34194.0,0.994579,0.410835,0.002729,0.851615,0.997101,1.054054,10.726667
growth_20d,34012.0,0.994388,0.421681,0.002729,0.846154,0.996435,1.055663,11.575540
growth_21d,33830.0,0.994029,0.431593,0.002729,0.840243,0.996255,1.057622,12.634409
growth_22d,33648.0,0.993689,0.441964,0.002729,0.835464,0.995764,1.058529,11.491442
growth_23d,33466.0,0.993249,0.451820,0.002729,0.830418,0.995511,1.059244,12.486842
growth_24d,33284.0,0.992839,0.460763,0.002729,0.823529,0.995131,1.060151,12.284789
growth_25d,33102.0,0.992424,0.471038,0.002729,0.820000,0.995070,1.060632,12.661000
growth_26d,32920.0,0.992240,0.484630,0.002729,0.813746,0.994077,1.060106,15.025219
growth_27d,32738.0,0.992033,0.498411,0.002729,0.810337,0.993726,1.062500,14.782093
growth_28d,32556.0,0.991781,0.515400,0.002729,0.806439,0.993615,1.064389,19.655310
growth_29d,32374.0,0.991580,0.534958,0.002729,0.802205,0.992521,1.066266,22.918785
growth_30d,32193.0,0.991511,0.557167,0.002729,0.798258,0.992498,1.067112,27.198465
growth_future_5d,36756.0,0.999353,0.214873,0.002729,0.941731,1.000000,1.032028,8.952632
is_positive_growth_5d_future,37671.0,0.452205,0.497717,0.000000,0.000000,0.000000,1.000000,1.000000

### Question 3

In [17]:
US_STOCKS = ['MSFT', 'AAPL', 'GOOG', 'NVDA', 'AMZN', 'META', 'BRK-B', 'LLY', 'AVGO','V', 'JPM']

EU_STOCKS = ['NVO','MC.PA', 'ASML', 'RMS.PA', 'OR.PA', 'SAP', 'ACN', 'TTE', 'SIE.DE','IDEXY','CDI.PA']

INDIA_STOCKS = ['RELIANCE.NS','TCS.NS','HDB','BHARTIARTL.NS','IBN','SBIN.NS','LICI.NS','INFY','ITC.NS','HINDUNILVR.NS','LT.NS']

LARGEST_STOCKS = US_STOCKS + EU_STOCKS + INDIA_STOCKS 


NEW_US = ['TSLA','WMT','XOM','UNH','MA','PG','JNJ','MRK','HD','COST','ORCL']

NEW_EU = ['PRX.AS','AIR.PA','SU.PA','ETN','SNY','BUD','DTE.DE','ALV.DE','MDT','AI.PA','EL.PA']

NEW_INDIA = ['BAJFINANCE.NS','MARUTI.NS','HCLTECH.NS','TATAMOTORS.NS','SUNPHARMA.NS','ONGC.NS','ADANIENT.NS','ADANIENT.NS','NTPC.NS','KOTAKBANK.NS','TITAN.NS']

LARGE_STOCKS = NEW_EU + NEW_US + NEW_INDIA

In [18]:
start_date = date(2013, 12, 1)
end_date = date(2023, 12, 31)

In [20]:

largest_stocks = yf.download(LARGEST_STOCKS,
                                start=start_date,
                                end=end_date,
                                progress=True)
largest_stocks.head()

[*********************100%%**********************]  33 of 33 completed

Price       Adj Close                                              \
Ticker           AAPL        ACN       AMZN       ASML       AVGO
Date
2013-12-02  17.237236  63.617287  19.615000  84.409317  33.917286
2013-12-03  17.709110  64.250671  19.233000  84.445328  33.751476
2013-12-04  17.667841  63.400543  19.298000  82.374268  33.540428
2013-12-05  17.758516  63.167179  19.224501  82.068085  35.869415
2013-12-06  17.512112  62.950508  19.347500  82.347244  35.394581

Price                                                                   ...  \
Ticker     BHARTIARTL.NS       BRK-B      CDI.PA       GOOG        HDB  ...
Date                                                                    ...
2013-12-02    283.676544  115.330002  113.618385  26.263557  15.422514  ...
2013-12-03    282.311798  114.790001  109.877541  26.233171  15.361533  ...
2013-12-04    283.377960  115.300003  108.245880  26.355713  16.224594  ...
2013-12-05    286.021973  114.959999  106.813217  26.334791  16.219906  ...
2013-12-06    283.505890  116.660004  107.449951  26.646872  16.749935  ...

Price          Volume                                                         \
Ticker            NVO      OR.PA RELIANCE.NS   RMS.PA        SAP     SBIN.NS
Date
2013-12-02  2353000.0   901449.0   3610875.0  14126.0   381200.0  17459790.0
2013-12-03  4501000.0   753306.0   4592312.0  25971.0   625400.0  14806910.0
2013-12-04  2436000.0   805246.0   4380538.0  32572.0   775800.0  15426920.0
2013-12-05  3147000.0   716813.0   6267202.0  19198.0   647700.0  23662450.0
2013-12-06  1614000.0  1320343.0   3650533.0  23848.0  2208200.0  14500680.0

Price
Ticker         SIE.DE     TCS.NS        TTE           V
Date
2013-12-02  1833317.0  1253260.0   537800.0   8762000.0
2013-12-03  3355076.0  1449184.0  1046400.0  17032800.0
2013-12-04  2961476.0  1519036.0  1032100.0  11739200.0
2013-12-05  2417569.0  1397190.0  1157500.0  13260000.0
2013-12-06  2458030.0  1446962.0   869100.0   9106800.0

[5 rows x 198 columns]

In [21]:
large_stocks = yf.download(LARGE_STOCKS,
                                start=start_date,
                                end=end_date,
                                progress=True)
large_stocks

[*********************100%%**********************]  32 of 32 completed

Price         Adj Close                                                    \
Ticker      ADANIENT.NS       AI.PA      AIR.PA      ALV.DE BAJFINANCE.NS
Date
2013-12-02    37.621361   54.632050   45.554214   75.205406    136.119125
2013-12-03    37.748501   53.326210   43.864166   73.704826    142.285294
2013-12-04    37.635483   53.123680   43.443802   72.998665    141.360840
2013-12-05    38.066368   52.638649   42.804665   72.733871    140.576752
2013-12-06    38.723297   52.489418   42.963383   73.675392    144.114761
...                 ...         ...         ...         ...           ...
2023-12-22  2808.350098  177.360001  137.034973  230.314209   7295.299805
2023-12-26  2865.449951         NaN         NaN         NaN   7162.299805
2023-12-27  2843.350098  176.820007  137.015320  229.459778   7232.799805
2023-12-28  2809.899902  176.199997  137.270828  228.462952   7258.649902
2023-12-29  2848.949951  176.119995  137.369110  229.697113   7327.750000

Price                                                                 ...  \
Ticker            BUD        COST     DTE.DE       EL.PA         ETN  ...
Date                                                                  ...
2013-12-02  79.724556   99.352112   8.032199   64.481934   54.835613  ...
2013-12-03  79.459023   99.456528   7.862847   63.160118   54.278809  ...
2013-12-04  79.271576   98.773788   7.852478   62.756016   53.622826  ...
2013-12-05  78.662407   97.151230   7.842109   63.294830   54.400845  ...
2013-12-06  80.154114   98.042839   7.976900   63.269581   55.239899  ...
...               ...         ...        ...         ...         ...  ...
2023-12-22  63.560879  654.652466  21.037939  174.286163  237.185776  ...
2023-12-26  63.679134  657.596313        NaN         NaN  238.746216  ...
2023-12-27  63.925491  664.754272  20.912367  173.768311  239.352493  ...
2023-12-28  63.748112  661.065613  20.878559  173.538162  239.282928  ...
2023-12-29  63.679134  658.054871  21.008961  174.151917  239.352493  ...

Price           Volume                                                   \
Ticker          PRX.AS        SNY      SU.PA SUNPHARMA.NS TATAMOTORS.NS
Date
2013-12-02         NaN  2380700.0  1029628.0    2473184.0     7712473.0
2013-12-03         NaN  1168400.0  1957891.0    2312310.0     7643867.0
2013-12-04         NaN  1484700.0  1823761.0    1827528.0     4973951.0
2013-12-05         NaN  2489000.0  2409557.0    1924907.0     5074094.0
2013-12-06         NaN   618200.0  2009516.0    1777758.0     4703974.0
...                ...        ...        ...          ...           ...
2023-12-22  13865372.0   979100.0   475196.0    2058127.0    12062238.0
2023-12-26         NaN   874500.0        NaN    1796483.0     7229143.0
2023-12-27   5994332.0   979700.0   409786.0    2005268.0    15052800.0
2023-12-28   4349891.0  1081800.0   324705.0    2043365.0    14906199.0
2023-12-29   3614308.0   639000.0   344691.0    1840160.0    41170191.0

Price
Ticker       TITAN.NS         TSLA        UNH         WMT         XOM
Date
2013-12-02   819519.0  116268000.0  4276000.0  18535200.0   9310500.0
2013-12-03   836450.0  385236000.0  5162400.0  22519200.0  12599500.0
2013-12-04   892761.0  197215500.0  5548700.0  22923600.0  13074000.0
2013-12-05  1169289.0  139326000.0  4104700.0  19350000.0  10586000.0
2013-12-06  1958279.0  118644000.0  3886000.0  15264300.0  12063400.0
...               ...          ...        ...         ...         ...
2023-12-22   777099.0   93249800.0  1759500.0  19405500.0  12921800.0
2023-12-26   526101.0   86892400.0  1390800.0  11679900.0  16835100.0
2023-12-27   666625.0  106494400.0  1851800.0  19896000.0  14558800.0
2023-12-28  1033648.0  113619900.0  2001000.0  16776000.0  16329300.0
2023-12-29   709614.0  100615300.0  2080100.0  21948300.0  17741400.0

[2616 rows x 192 columns]

In [22]:
largest_stocks_df = largest_stocks.unstack().reset_index()
largest_stocks_df = largest_stocks_df.pivot_table(index=["Date","Ticker"],  columns= ["Price"]).reset_index()
largest_stocks_df.columns = ["Date","Ticker", "Adj Close",	"Close",	"High",	"Low",	"Open",	"Volume"]
largest_stocks_df["group"]="largest_stocks"
largest_stocks_df.set_index("Date", inplace=True)

large_stocks_df = large_stocks.unstack().reset_index()
large_stocks_df = large_stocks_df.pivot_table(index=["Date","Ticker"],  columns= ["Price"]).reset_index()
large_stocks_df.columns = ["Date","Ticker", "Adj Close",	"Close",	"High",	"Low",	"Open",	"Volume"]
large_stocks_df["group"]="large_stocks"
large_stocks_df.set_index("Date", inplace=True)


stocks_df = pd.concat([largest_stocks_df,large_stocks_df])
stocks_df.head()

,Ticker,Adj Close,Close,High,Low,Open,Volume,group
Date,,,,,,,,
2013-12-02,AAPL,17.237236,19.686787,20.154642,19.672144,19.928572,472544800.0,largest_stocks
2013-12-02,ACN,63.617287,76.330002,77.639999,76.150002,77.419998,2489300.0,largest_stocks
2013-12-02,AMZN,19.615000,19.615000,19.950001,19.455000,19.950001,94280000.0,largest_stocks
2013-12-02,ASML,84.409317,93.739998,94.080002,93.419998,93.589996,381100.0,largest_stocks
2013-12-02,AVGO,33.917286,45.000000,46.209999,44.939999,45.490002,2445400.0,largest_stocks

In [23]:
stocks_df.head()

,Ticker,Adj Close,Close,High,Low,Open,Volume,group
Date,,,,,,,,
2013-12-02,AAPL,17.237236,19.686787,20.154642,19.672144,19.928572,472544800.0,largest_stocks
2013-12-02,ACN,63.617287,76.330002,77.639999,76.150002,77.419998,2489300.0,largest_stocks
2013-12-02,AMZN,19.615000,19.615000,19.950001,19.455000,19.950001,94280000.0,largest_stocks
2013-12-02,ASML,84.409317,93.739998,94.080002,93.419998,93.589996,381100.0,largest_stocks
2013-12-02,AVGO,33.917286,45.000000,46.209999,44.939999,45.490002,2445400.0,largest_stocks

In [24]:

stocks_group = stocks_df.groupby(["group","Ticker"]).apply(lambda x : x['Adj Close'] / x['Adj Close'].shift(7)).reset_index()
stocks_group = stocks_group.query("Date >= '2014-01-01'")
stocks_group.head(10)

           group       Ticker       Date  Adj Close
21  large_stocks  ADANIENT.NS 2014-01-01   1.035646
22  large_stocks  ADANIENT.NS 2014-01-02   0.940516
23  large_stocks  ADANIENT.NS 2014-01-03   0.924954
24  large_stocks  ADANIENT.NS 2014-01-06   0.934210
25  large_stocks  ADANIENT.NS 2014-01-07   0.887890
26  large_stocks  ADANIENT.NS 2014-01-08   0.901972
27  large_stocks  ADANIENT.NS 2014-01-09   0.935428
28  large_stocks  ADANIENT.NS 2014-01-10   0.896558
29  large_stocks  ADANIENT.NS 2014-01-13   0.921480
30  large_stocks  ADANIENT.NS 2014-01-14   0.983491

In [25]:
stocks_group = stocks_group.pivot_table(columns="group", index="Date", values="Adj Close", aggfunc="mean")
stocks_group.columns = ['large_stocks'	,'largest_stocks']
stocks_group["diff"] = stocks_group['large_stocks'] > stocks_group['largest_stocks']
stocks_group.head()

            large_stocks  largest_stocks   diff
Date
2014-01-01      1.009288        1.011797  False
2014-01-02      1.004176        1.006333  False
2014-01-03      1.002944        0.999152   True
2014-01-06      0.997761        0.994203   True
2014-01-07      0.994872        0.992509   True

In [26]:
round(stocks_group["diff"].sum() / len(stocks_group),2)

0.47

### Question 4

In [27]:
#https://drive.google.com/file/d/1m3Qisfs2XfWk6Sw_Uk5kHLWqwQ0q8SKb/view?usp=sharing
data = pd.read_parquet("data/stocks_df_combined_trunc_2014_2023.parquet.brotli")
data.head()

,Open,High,Low,Close,Adj Close_x,Volume,Ticker,Year,Month,Weekday,...,growth_brent_oil_7d,growth_brent_oil_30d,growth_brent_oil_90d,growth_brent_oil_365d,growth_btc_usd_1d,growth_btc_usd_3d,growth_btc_usd_7d,growth_btc_usd_30d,growth_btc_usd_90d,growth_btc_usd_365d
7011,37.349998,37.400002,37.099998,37.160000,31.233059,30632200.0,MSFT,2014,2014-01-01,3,...,0.964302,0.992998,0.970030,1.158676,NaN,NaN,NaN,NaN,NaN,NaN
7012,37.200001,37.220001,36.599998,36.910000,31.022930,31134800.0,MSFT,2014,2014-01-01,4,...,0.958139,0.984707,0.961500,1.143209,NaN,NaN,NaN,NaN,NaN,NaN
7013,36.849998,36.889999,36.110001,36.130001,30.367352,43603700.0,MSFT,2014,2014-01-01,0,...,0.953798,0.998223,0.968951,1.168236,NaN,NaN,NaN,NaN,NaN,NaN
7014,36.330002,36.490002,36.209999,36.410000,30.602673,35802800.0,MSFT,2014,2014-01-01,1,...,0.958653,0.993430,0.977598,1.097648,NaN,NaN,NaN,NaN,NaN,NaN
7015,36.000000,36.139999,35.580002,35.759998,30.056356,59971700.0,MSFT,2014,2014-01-01,2,...,0.955161,0.973383,0.974977,1.100781,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = data[["Adj Close_x","Ticker","Date","Weekday","cci" ]]
df.head()

      Adj Close_x Ticker       Date  Weekday         cci
7011    31.233059   MSFT 2014-01-02        3   57.700615
7012    31.022930   MSFT 2014-01-03        4    1.373763
7013    30.367352   MSFT 2014-01-06        0  -96.631259
7014    30.602673   MSFT 2014-01-07        1  -83.904297
7015    30.056356   MSFT 2014-01-08        2 -147.855135

In [29]:
adj_close_5days_ahead_df = df.set_index(["Date"]).groupby(["Ticker"]).apply(lambda x : x["Adj Close_x"].shift(-5)).reset_index().rename(columns={"Adj Close_x":"adj_close_5days_ahead"})
adj_close_5days_ahead_df.head()

  Ticker       Date  adj_close_5days_ahead
0   AAPL 2014-01-02              16.777248
1   AAPL 2014-01-03              16.665304
2   AAPL 2014-01-06              16.752554
3   AAPL 2014-01-07              17.085888
4   AAPL 2014-01-08              17.428932

In [30]:
merged_df = df.merge(adj_close_5days_ahead_df, on=["Ticker","Date"])
merged_df.head()

   Adj Close_x Ticker       Date  Weekday         cci  adj_close_5days_ahead
0    31.233059   MSFT 2014-01-02        3   57.700615              29.863047
1    31.022930   MSFT 2014-01-03        4    1.373763              30.291698
2    30.367352   MSFT 2014-01-06        0  -96.631259              29.400766
3    30.602673   MSFT 2014-01-07        1  -83.904297              30.073174
4    30.056356   MSFT 2014-01-08        2 -147.855135              30.896852

In [31]:
filterd_df = merged_df[(merged_df.cci >200) & (merged_df.Weekday == 4) ].copy()
filterd_df["gross_profit"] = 1000 * ((filterd_df["adj_close_5days_ahead"] / filterd_df["Adj Close_x"])-1)
filterd_df.head()

,Adj Close_x,Ticker,Date,Weekday,cci,adj_close_5days_ahead,gross_profit
102,34.912762,MSFT,2014-05-30,4,203.518798,35.373264,13.190094
170,39.395618,MSFT,2014-09-05,4,257.013330,40.073509,17.207263
329,41.630741,MSFT,2015-04-24,4,340.009871,42.317780,16.503151
441,40.151123,MSFT,2015-10-02,4,206.125828,41.507988,33.793947
456,46.583046,MSFT,2015-10-23,4,431.107024,46.380405,-4.350092

In [32]:
filterd_df.gross_profit.sum()

1069.5071529360341