In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [2]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-5, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=20
Period for indexes: 2019-04-20 to 2024-04-20

# Question 1

In [3]:
# GDPC1
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)
gdpc1['gdpc1_yoy_shift4'] = gdpc1.GDPC1.shift(4)
gdpc1['gdpc1_yoy_shift4_minus1'] = gdpc1.GDPC1.shift(4)-1

gdpc1['gdpc1_yoy'] = gdpc1.GDPC1/ gdpc1.GDPC1.shift(4)-1

In [4]:
gdpc1.tail(10)

                GDPC1  gdpc1_yoy_shift4  gdpc1_yoy_shift4_minus1  gdpc1_yoy
DATE
2021-07-01  21483.083         20511.785                20510.785   0.047353
2021-10-01  21847.602         20724.128                20723.128   0.054211
2022-01-01  21738.871         20990.541                20989.541   0.035651
2022-04-01  21708.160         21309.544                21308.544   0.018706
2022-07-01  21851.134         21483.083                21482.083   0.017132
2022-10-01  21989.981         21847.602                21846.602   0.006517
2023-01-01  22112.329         21738.871                21737.871   0.017179
2023-04-01  22225.350         21708.160                21707.160   0.023825
2023-07-01  22490.692         21851.134                21850.134   0.029269
2023-10-01  22679.255         21989.981                21988.981   0.031345

In [5]:
np.round(np.mean(gdpc1["2023":"2024"]["gdpc1_yoy"])*100,1)

2.5

# Question 2

In [6]:
start = date(year=2000, month=1, day=1)
print(f'Period for indexes: {start} to {end} ')

dgs2 = pdr.DataReader("DGS2", "fred", start=start)
dgs10= pdr.DataReader("DGS10", "fred", start=start)

Period for indexes: 2000-01-01 to 2024-04-20

In [7]:
dgs_df = dgs2.merge(dgs10, on="DATE")
dgs_df["dgs_diff"] = dgs_df.DGS10 - dgs_df.DGS2
dgs_df.head()

            DGS2  DGS10  dgs_diff
DATE
2000-01-03  6.38   6.58      0.20
2000-01-04  6.30   6.49      0.19
2000-01-05  6.38   6.62      0.24
2000-01-06  6.35   6.57      0.22
2000-01-07  6.31   6.52      0.21

In [8]:
np.round(np.min(dgs_df.dgs_diff),1)

-1.1

# Question3

In [9]:
# SPX= S&P500
SPX_daily = yf.download(tickers = "^GSPC",
                     period = "max",
                     interval = "1d")
MXX_daily = yf.download(tickers = "^MXX",
                     period = "max",
                     interval = "1d")

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [10]:
display(SPX_daily.head(2))
display(MXX_daily.head(2))

             Open   High    Low  Close  Adj Close  Volume
Date
1927-12-30  17.66  17.66  17.66  17.66      17.66       0
1928-01-03  17.76  17.76  17.76  17.76      17.76       0

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1991-11-08,1418.800049,1418.800049,1418.800049,1418.800049,1418.800049,0
1991-11-11,1416.900024,1416.900024,1416.900024,1416.900024,1416.900024,0

In [11]:
(spx_start_value , spx_end_value) = SPX_daily.query("Date =='2019-04-09'")["Close"].iloc[0], SPX_daily.query("Date =='2024-04-09'")["Close"].iloc[0]
(mxx_start_value , mxx_end_value )= MXX_daily.query("Date =='2019-04-09'")["Close"].iloc[0], MXX_daily.query("Date =='2024-04-09'")["Close"].iloc[0]

print( f'spx growth: {((spx_end_value - spx_start_value) / spx_start_value)*100} %' )
print( f'mxx growth: {((mxx_end_value - mxx_start_value) / mxx_start_value)*100} %' )

spx growth: 81.01279426847174 %
mxx growth: 27.50624912566744 %

# Question 4

In [30]:
stocks_list = ["2222.SR","BRK-B", "AAPL", "MSFT", "GOOG", "JPM"]
stocks_df = []
for stock in stocks_list:
    stocks_daily = yf.download(tickers = stock,
                     period = "max",
                     interval = "1d")
    stocks_daily["stock_cat"] = stock
    stocks_daily = stocks_daily["2023":"2023"].copy()
    stocks_df.append(stocks_daily)

stocks_df_combined = pd.concat(stocks_df)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [31]:
stocks_df_combined.head(2)

,Open,High,Low,Close,Adj Close,Volume,stock_cat
Date,,,,,,,
2023-01-01,29.227272,29.454544,29.181818,29.454544,28.475794,1569087,2222.SR
2023-01-02,29.545454,29.545454,29.227272,29.227272,28.256073,4693364,2222.SR

In [32]:
stocks_df_combined.groupby("stock_cat").apply(lambda x : (max(x["Adj Close"])- min(x["Adj Close"]))/ max(x["Adj Close"]))

stock_cat
2222.SR    0.213931
AAPL       0.372444
BRK-B      0.207758
GOOG       0.392452
JPM        0.282499
MSFT       0.424207
dtype: float64

# Question 5

In [49]:
stocks_dividends_df = []
for stock in stocks_list:
    stocks_daily = pd.DataFrame(yf.Ticker(stock).dividends)
    stocks_daily["stock_cat"] = stock
    stocks_daily = stocks_daily["2023":"2023"].copy()
    stocks_dividends_df.append(stocks_daily)

stocks_dividends_df_combined = pd.concat(stocks_dividends_df)

In [69]:
stocks_dividends_results = stocks_dividends_df_combined.groupby(["stock_cat"]).agg({"Dividends":"sum"})
stocks_dividends_results

           Dividends
stock_cat
2222.SR     0.910764
AAPL        0.950000
JPM         4.050000
MSFT        2.790000

In [68]:
stocks_result = stocks_df_combined.groupby(["stock_cat"]).last()
stocks_result

,Open,High,Low,Close,Adj Close,Volume
stock_cat,,,,,,
2222.SR,33.049999,33.099998,32.900002,33.000000,32.828049,10776909
AAPL,193.899994,194.399994,191.729996,192.529999,192.284637,42628800
BRK-B,357.559998,357.859985,355.309998,356.660004,356.660004,3269400
GOOG,140.679993,141.434998,139.899994,140.929993,140.929993,14872700
JPM,170.000000,170.690002,169.630005,170.100006,168.077118,6431800
MSFT,376.000000,377.160004,373.480011,376.040009,375.345886,18723000

In [74]:
df = stocks_dividends_results.join(stocks_result[["Adj Close"]])
df["Dividend Yield"] = round((df.Dividends / df["Adj Close"]) *100 ,1)
df

           Dividends   Adj Close  Dividend Yield
stock_cat
2222.SR     0.910764   32.828049             2.8
AAPL        0.950000  192.284637             0.5
JPM         4.050000  168.077118             2.4
MSFT        2.790000  375.345886             0.7